.modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $bgHeader;
    z-index: 3;
    width: 20rem;
    transform: translateX(350%);
    height: 100%;
    &--active {
        transition: all 1s linear;
        transform: translateX(0);
        box-shadow: -0.125rem 0rem 0.25rem rgba(69, 79, 126, 0.02), 1rem 0rem 3.25rem rgba(14, 24, 80, 0.2);
    }
    &__chat {
        display: none;
        &--active {
            display: block;
        }
    }
    // &__wrapper {}
    // &__btn--position {}
    // &__btn {}
    // &__btn-img {}
    &__title {
        margin-top: 2.5rem;
        font-family: TT Lakes;
        font-size: 1.5rem;
        line-height: 2rem;
        /* identical to box height, or 133% */
        letter-spacing: -0.0375rem;
        color: $text;
        font-weight: 700;
    }
    &__form {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__form-name,
    &__form-tel,
    &__form-email,
    &__form-area {
        border: 0.0625rem solid #EAEAEA;
        border-radius: 0.5rem;
        padding: 1rem 0.75rem;
        font-family: TT Lakes;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.0125rem;
        color: #B5B6BC;
    }
    &__form-info {
        font-family: TT Lakes;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #7E7E82;
    }
    &__form-link {
        color: #FF3E79;
    }
    &__call {
        display: none;
        &--active {
            display: block;
        }
    }
    &__form-btn {
        background-color: #FF3E79;
        border-radius: 1rem;
        width: 8.5rem;
        height: 2rem;
        margin-left: 7.8125rem;
        color: $bgHeader;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: TT Lakes;
        font-size: 0.75rem;
        line-height: 1.5rem;
        letter-spacing: -0.0094rem;
        text-transform: uppercase;
    }
    @media (min-width: 1440px) {
        &__wrapper {
            margin: 0 1.875rem;
        }
        &__btn--position {
            position: absolute;
            left: -4.0625rem;
            top: 0.625rem;
        }
        &__chat {
            margin-top: 2.5rem;
        }
        &__call {
            margin-top: 2.5rem;
        }
        &__title {
            &:before {
                content: url('../assets/img/highlight.svg');
                display: inline-block;
                transform: translate(-1.875rem, 0.625rem);
            }
        }
    }
    @media (min-width: 20rem) and (max-width: 89.9375rem) {
        &__wrapper {
            margin: 0 1rem;
        }
        &__chat {
            margin-top: 1.5rem;
        }
        &__call {
            margin-top: 1.5rem;
        }
        &__title {
            &:before {
                content: url('../assets/img/highlight.svg');
                display: inline-block;
                transform: translate(-1rem, 0.625rem);
            }
        }
    }
}